<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChevronMonthlySub.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ChevronMonthlySub.UI.Properties.Settings>
            <setting name="BoxFee" serializeAs="String">
                <value>2.50</value>
            </setting>
            <setting name="PickFee" serializeAs="String">
                <value>0.50</value>
            </setting>
            <setting name="FreightTemplateName" serializeAs="String">
                <value>FreightTemplate.xlsx</value>
            </setting>
            <setting name="SummaryFreightTemplateName" serializeAs="String">
                <value>FreightSummaryTemplate.xlsx</value>
            </setting>
            <setting name="ProductTemplateName" serializeAs="String">
                <value>ProductTemplate.xlsx</value>
            </setting>
            <setting name="SummaryProductTemplateName" serializeAs="String">
                <value>ProductSummaryTemplate.xlsx</value>
            </setting>
            <setting name="TemplateDir" serializeAs="String">
                <value>\\NLS_SERVER\Global_User\garmstrong\Chevron</value>
            </setting>
        </ChevronMonthlySub.UI.Properties.Settings>
    </userSettings>
</configuration>